@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");

@mixin flex-($dir) {
  display: flex;
  flex-direction: $dir;
}

html {
  font-family: "Roboto", sans-serif;
  background-color: grey;
}

body {
  margin: 0px;
}

main {
  $side-margin: clamp(20px, 4vw, 100px);
  @include flex-(column);
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin: 70px $side-margin;
  &.left {
    align-items: flex-start;
    justify-content: flex-start;
  }
  &.transparent {
    background-color: transparent;
  }
  header {
    &.banner-image {
      position: relative;
      width: calc(100vw - (2 * $side-margin));
      height: 400px;
    }
  }
  section {
    &.header {
      min-height: fit-content;
      h3 {
        font-size: 20px;
        margin: 10px 0px;
      }
      h4 {
        font-size: 18px;
        margin: 5px 0px;
      }
    }
    &.post-body {
      p {
        padding: 0px;
        margin: 8px 0px;
        overflow-y: scroll;
      }
    }
  }
}

.card-content {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  h2 {
    margin: 4px 0px;
    font-size: 18px;
    font-weight: 800;
    white-space: nowrap;
  }
  p {
    &.author {
      margin: 0px;
      font-size: 15px;
      &:hover {
        color: blue;
      }
    }
    &.body {
      margin: 2px 0px;
      font-size: 14px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      &.short {
        -webkit-line-clamp: 3;
      }
      &.long {
        -webkit-line-clamp: 8;
      }
    }
  }
}
