@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");

@mixin flex-($dir) {
  display: flex;
  flex-direction: $dir;
}

$speed: 350ms;

html {
  font-family: "Roboto", sans-serif;
  background-color: rgb(45, 60, 90);
}

body {
  margin: 0px;
}

main {
  $side-margin: clamp(20px, 4vw, 100px);
  @include flex-(column);
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin: 70px $side-margin;
  &.left {
    align-items: flex-start;
    justify-content: flex-start;
  }
  &.transparent {
    background-color: transparent;
  }
  header {
    &.banner-image {
      position: relative;
      width: calc(100vw - (2 * $side-margin));
      height: 400px;
    }
  }
  h2 {
    font-size: 30px;
  }
  section {
    &.header {
      min-height: fit-content;
    }
    &.post-body {
      p {
        padding: 0px;
        margin: 8px 0px;
        overflow-y: scroll;
      }
    }
  }
}

h1 {
  padding: 10px 0px !important;
  font-size: 40px;
  margin: 0;
}
h2 {
  padding: 8px 0px !important;
  font-size: 36px !important;
  margin: 0;
}
h3 {
  padding: 4px 0px !important;
  font-size: 26px !important;
  margin: 0;
}
h4 {
  padding: 3px 0px !important;
  font-size: 22px;
  margin: 0;
}
h5 {
  padding: 2px 0px !important;
  font-size: 18px;
  margin: 0;
}
h6 {
  font-size: 19px;
  height: 23px;
  padding: 0px !important;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
p {
  margin: 3px 0px;
  &.author {
    font-size: 16px;
    margin-right: 10px;
  }
  &.date {
    margin: 3px 0px;
    font-size: 15px;
  }
}

.card-content {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  p {
    &.body {
      margin: 5px 0px;
      font-size: 14px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      &.short {
        -webkit-line-clamp: 3;
      }
      &.long {
        -webkit-line-clamp: 8;
      }
    }
  }
}

.profile-nav {
  $bg: #242526;
  $bg-accent: #484a4d;
  $text-color: #dadce1;
  $nav-size: 60px;
  $border: 1px solid #474a4d;
  $border-radius: 8px;
  $padding: 6px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    color: $text-color;
    text-decoration: none;
  }
  .navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .nav-item {
    width: calc($nav-size * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-button {
    $button-size: calc($nav-size * 0.5);
    width: $button-size;
    height: $button-size;
    background-color: #484a4d;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
  }
  .dropdown {
    position: absolute;
    top: 45px;
    right: $padding;
    background-color: $bg;
    border: $border;
    border-radius: $border-radius;
    padding: 4px;
    overflow: hidden;
    transition: height $speed;
  }
  .menu {
    width: 250px;
    a {
      &.menu-item {
        @include flex-(row);
        height: 45px;
        align-items: center;
        border-radius: $border-radius;
        transition: background $speed;
        padding: $padding;
        span {
          &.icon-button {
            margin-right: 10px;
            &:hover {
              filter: none;
            }
          }
        }
      }
    }
  }

  .menu-item:hover {
    background-color: #525357;
  }

  .icon-right {
    margin-left: auto;
  }
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all $speed;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all $speed;
}

.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all $speed;
}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all $speed;
}
