@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");

html {
  font-family: "Roboto", sans-serif;
}

@mixin flex-($dir) {
  display: flex;
  flex-direction: $dir;
}

main {
  @include flex-(column);
  align-items: center;
  justify-content: center;
  background-color: grey;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  &.left {
    padding: 60px 20px;
    height: calc(100vh - 120px);
    width: calc(100vw - 40px);
    align-items: flex-start;
    justify-content: flex-start;
  }
  &.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }
  &.transparent {
    background-color: transparent;
  }
}

// delete
.card {
  @include flex-(column);
  border: 2px solid indianred;
  border-radius: 8px;
  height: clamp(120px, 20vh, 180px);
  width: clamp(240px, 28vw, 360px);
  align-items: flex-start;
  object-fit: contain;
  text-align: left;
  h3 {
    width: calc(100% - 10px);
    margin: 0px;
    text-align: left;
    padding: 5px;
    border-bottom: 2px solid indianred;
    overflow: hidden;
    font-size: 18px;
    height: 20px !important;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.card-content {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  h2 {
    margin: 4px 0px;
    font-size: 20px;
    font-weight: 800;
    white-space: nowrap;
  }
  p {
    &.author {
      margin: 0px;
      font-size: 16px;
    }
    &.body {
      margin: 5px 0px;
      font-size: 15px;
    }
  }
}
