@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");

@mixin orientate-contents-($dir) {
  align-items: $dir;
  justify-content: $dir;
}

@mixin flex-($dir) {
  display: flex;
  flex-direction: $dir;
}

@mixin round-border {
  border-radius: 4px;
}

@mixin no-scroll {
  &::-webkit-scrollbar {
    display: none;
  }
}

$main-side-margin: clamp(20px, 4vw, 100px);
$main-width: calc(100vw - (2 * $main-side-margin));
$speed: 350ms;
$init-bg-color: rgb(40, 40, 40);

$big-button-dim: 80px;
$medium-button-dim: 50px;

html {
  font-family: "Roboto", sans-serif;
  background-color: $init-bg-color;
}

body {
  margin: 0px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

main {
  @include flex-(column);
  @include orientate-contents-(center);
  font-family: "Roboto", sans-serif;
  margin: 60px $main-side-margin;
  &.left {
    @include orientate-contents-(flex-start);
  }
  &.pad-top {
    margin-top: 80px;
  }
  &.transparent {
    background-color: transparent;
  }
  header {
    &.banner-image {
      position: relative;
      width: $main-width;
      height: 400px;
    }
  }
  h2 {
    font-size: 30px;
  }
  section {
    &.header {
      @include flex-(row);
      align-items: center;
      margin: 20px 0px;
      min-height: fit-content;
    }
    &.column {
      @include flex-(column);
      align-items: flex-start;
    }
    &.post-body {
      padding: 0px;
      p {
        padding: 0px;
        margin: 8px 0px;
        overflow-y: scroll;
      }
    }
  }
}

h1 {
  padding: 8px 0px !important;
  font-size: 38px !important;
  margin: 0;
}
h2 {
  padding: 6px 0px !important;
  font-size: 32px !important;
  margin: 0;
}
h3 {
  padding: 4px 0px !important;
  font-size: 26px !important;
  margin: 0;
}
h4 {
  padding: 3px 0px !important;
  font-size: 22px !important;
  margin: 0;
}
h5 {
  padding: 2px 0px !important;
  font-size: 19px !important;
  margin: 0;
}
h6 {
  font-size: 18px;
  height: 23px;
  padding: 0px !important;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
p {
  margin: 3px 0px;
  white-space: break-spaces;
  &.author {
    font-size: 16px;
    margin-right: 10px;
  }
  &.date {
    margin: 3px 0px;
    font-size: 15px;
  }
  &.icon {
    margin: 0;
    padding: 10px;
  }
}
textarea {
  @include no-scroll;
}

.card-content {
  @include round-border;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 188px;
  &.has-image {
    max-height: 108px;
  }
  p {
    &.body {
      margin: 5px 0px;
      font-size: 14px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      &.short {
        -webkit-line-clamp: 3;
      }
      &.long {
        -webkit-line-clamp: 8;
      }
    }
  }
}

.profile-nav {
  $nav-size: 60px;
  $border: 1px solid inherit;
  $padding: 6px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  .navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .nav-item {
    @include orientate-contents-(center);
    display: flex;
  }
  .icon-button {
    @include orientate-contents-(center);
    $button-size: calc($nav-size * 0.5);
    width: $button-size;
    height: $button-size;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    transition: filter 300ms;
  }
  .dropdown {
    @include round-border;
    position: absolute;
    top: 45px;
    right: $padding;
    border: $border;
    padding: 4px;
    overflow: hidden;
    transition: $speed !important;
  }
  .menu {
    width: 200px;
    a {
      @include flex-(row);
      @include round-border;
      height: 45px;
      align-items: center;
      transition: background $speed;
      padding: $padding;
      .right {
        margin-left: auto;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.12);
      }
    }
  }
}

.markdown-preview {
  @include round-border;
  @include no-scroll;
  position: relative;
  background-color: transparent !important;
  border: 1px solid transparent;
  overflow-y: scroll;
  transition: 400ms;
  &.hide {
    border: none !important;
    padding: 0px !important;
    width: 0px;
  }
  &.show {
    border-color: inherit;
    padding-left: 10px;
    width: calc(50% - 6px);
  }
}

.markdown-view {
  background-color: transparent !important;
  border: none !important;
  &.card {
    padding: 0px !important;
    h1: {
      padding: 2px 0px !important;
    }
    pre code {
      overflow: hidden;
    }
  }
}

.edit-container {
  @mixin delete-button {
    height: $medium-button-dim;
    width: $medium-button-dim;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    position: fixed;
    bottom: calc($medium-button-dim / 2);
    transition: $speed;
    z-index: 0;
  }
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition: $speed;
  .edit-button {
    height: $big-button-dim;
    width: $big-button-dim;
    z-index: 1;
  }
  .delete-button {
    @include delete-button;
    right: calc($medium-button-dim/2);
  }
  &:hover {
    .delete-button {
      @include delete-button;
      right: 80px;
    }
  }
}

.row {
  @include flex-(row);
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  width: 100%;
  &.end {
    justify-content: flex-end;
  }
  &.last-end {
    :last-child {
      justify-self: flex-end;
      margin-left: auto;
    }
  }
}

.transparent-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: $speed;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all $speed;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all $speed;
}

.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all $speed;
}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all $speed;
}

// Markdown styling.
pre {
  margin: 0;
  code {
    &.hljs {
      @include round-border;
      display: block;
      overflow-x: auto;
      padding: 10px;
      color: rgb(235, 235, 235);
      background: rgb(32, 34, 36);
      &.dracula {
        color: #e9e9f4;
        background: #282936;
      }
      &.colorBrewer {
        color: #e9e9f4;
        background: rgb(32, 34, 36);
      }
      &.github {
        color: rgb(225, 225, 225);
        background: rgb(32, 34, 36);
      }
      &.atomOneDark {
        color: #abb2bf;
        background: #282c34;
      }
      &.monokaiSublime {
        background: #282828;
        color: #f8f8f2;
      }
    }
  }
  // Atom one dark
  .atomOneDark-comment,
  .atomOneDark-quote {
    color: #5c6370;
    font-style: italic;
  }
  .atomOneDark-doctag,
  .atomOneDark-formula,
  .atomOneDark-keyword {
    color: #c678dd;
  }
  .atomOneDark-deletion,
  .atomOneDark-name,
  .atomOneDark-section,
  .atomOneDark-selector-tag,
  .atomOneDark-subst {
    color: #e06c75;
  }
  .atomOneDark-literal {
    color: #56b6c2;
  }
  .atomOneDark-addition,
  .atomOneDark-attribute,
  .atomOneDark-meta .atomOneDark-string,
  .atomOneDark-regexp,
  .atomOneDark-string {
    color: #98c379;
  }
  .atomOneDark-attr,
  .atomOneDark-number,
  .atomOneDark-selector-attr,
  .atomOneDark-selector-class,
  .atomOneDark-selector-pseudo,
  .atomOneDark-template-variable,
  .atomOneDark-type,
  .atomOneDark-variable {
    color: #d19a66;
  }
  .atomOneDark-bullet,
  .atomOneDark-link,
  .atomOneDark-meta,
  .atomOneDark-selector-id,
  .atomOneDark-symbol,
  .atomOneDark-title {
    color: #61aeee;
  }
  .atomOneDark-built_in,
  .atomOneDark-class .atomOneDark-title,
  .atomOneDark-title.class_ {
    color: #e6c07b;
  }
  .atomOneDark-emphasis {
    font-style: italic;
  }
  .atomOneDark-strong {
    font-weight: 700;
  }
  .atomOneDark-link {
    text-decoration: underline;
  }

  // Color brewer
  .colorBrewer-addition,
  .colorBrewer-meta,
  .colorBrewer-string,
  .colorBrewer-symbol,
  .colorBrewer-template-tag,
  .colorBrewer-template-variable {
    color: #756bb1;
  }
  .colorBrewer-comment,
  .colorBrewer-quote {
    color: #636363;
  }
  .colorBrewer-bullet,
  .colorBrewer-link,
  .colorBrewer-literal,
  .colorBrewer-number,
  .colorBrewer-regexp {
    color: #31a354;
  }
  .colorBrewer-deletion,
  .colorBrewer-variable {
    color: #88f;
  }
  .colorBrewer-built_in,
  .colorBrewer-doctag,
  .colorBrewer-keyword,
  .colorBrewer-name,
  .colorBrewer-section,
  .colorBrewer-selector-class,
  .colorBrewer-selector-id,
  .colorBrewer-selector-tag,
  .colorBrewer-strong,
  .colorBrewer-tag,
  .colorBrewer-title,
  .colorBrewer-type {
    color: #3182bd;
  }
  .colorBrewer-emphasis {
    font-style: italic;
  }
  .colorBrewer-attribute {
    color: #e6550d;
  }

  // base16 Dracula
  .dracula ::selection,
  .dracula::selection {
    background-color: #4d4f68;
    color: #e9e9f4;
  }
  .dracula-comment {
    color: #626483;
  }
  .dracula-tag {
    color: #62d6e8;
  }
  .dracula-operator,
  .dracula-punctuation,
  .dracula-subst {
    color: #e9e9f4;
  }
  .dracula-operator {
    opacity: 0.7;
  }
  .dracula-bullet,
  .dracula-deletion,
  .dracula-name,
  .dracula-selector-tag,
  .dracula-template-variable,
  .dracula-variable {
    color: #ea51b2;
  }
  .dracula-attr,
  .dracula-link,
  .dracula-literal,
  .dracula-number,
  .dracula-symbol,
  .dracula-variable.constant_ {
    color: #b45bcf;
  }
  .dracula-class .dracula-title,
  .dracula-title,
  .dracula-title.class_ {
    color: #00f769;
  }
  .dracula-strong {
    font-weight: 700;
    color: #00f769;
  }
  .dracula-addition,
  .dracula-code,
  .dracula-string,
  .dracula-title.class_.inherited__ {
    color: #ebff87;
  }
  .dracula-built_in,
  .dracula-doctag,
  .dracula-keyword.dracula-atrule,
  .dracula-quote,
  .dracula-regexp {
    color: #a1efe4;
  }
  .dracula-attribute,
  .dracula-function .dracula-title,
  .dracula-section,
  .dracula-title.function_,
  .ruby .dracula-property {
    color: #62d6e8;
  }
  .diff .dracula-meta,
  .dracula-keyword,
  .dracula-template-tag,
  .dracula-type {
    color: #b45bcf;
  }
  .dracula-emphasis {
    color: #b45bcf;
    font-style: italic;
  }
  .dracula-meta,
  .dracula-meta .dracula-keyword,
  .dracula-meta .dracula-string {
    color: #00f769;
  }
  .dracula-meta .dracula-keyword,
  .dracula-meta-keyword {
    font-weight: 700;
  }

  // base16 Github
  .github ::selection,
  .github::selection {
    background-color: #c8c8fa;
    color: #333;
  }
  .github-comment {
    color: #969896;
  }
  .github-tag {
    color: #e8e8e8;
  }
  .github-operator,
  .github-punctuation,
  .github-subst {
    color: #ae81ff;
    // color: #333;
  }
  .github-operator {
    opacity: 0.7;
  }
  .github-bullet,
  .github-deletion,
  .github-name,
  .github-selector-tag,
  .github-template-variable,
  .github-variable {
    color: #ed6a43;
  }
  .github-attr,
  .github-link,
  .github-literal,
  .github-number,
  .github-symbol,
  .github-variable.constant_ {
    // color: #0086b3;
    color: rgb(79, 211, 255);
  }
  .github-class .github-title,
  .github-title,
  .github-title.class_ {
    color: #795da3;
  }
  .github-strong {
    font-weight: 700;
    color: #795da3;
  }
  .github-addition,
  .github-built_in,
  .github-code,
  .github-doctag,
  .github-keyword.github-atrule,
  .github-quote,
  .github-regexp,
  .github-string,
  .github-title.class_.inherited__ {
    // color: #183691;
    color: rgb(124, 174, 233);
  }
  .github-attribute,
  .github-function .github-title,
  .github-section,
  .github-title.function_,
  .ruby .github-property {
    color: #795da3;
  }
  .diff .github-meta,
  .github-keyword,
  .github-template-tag,
  .github-type {
    color: #a71d5d;
    // color: rgb(227, 95, 156);
  }
  .github-emphasis {
    color: #a71d5d;
    // color: rgb(227, 95, 156);
    font-style: italic;
  }
  .github-meta,
  .github-meta .github-keyword,
  .github-meta .github-string {
    color: #333;
  }
  .github-meta .github-keyword,
  .github-meta-keyword {
    font-weight: 700;
  }

  // Monokai sublime
  .monokaiSublime-subst,
  .monokaiSublime-tag {
    color: #f8f8f2;
  }
  .monokaiSublime-emphasis,
  .monokaiSublime-strong {
    color: #a8a8a2;
  }
  .monokaiSublime-bullet,
  .monokaiSublime-link,
  .monokaiSublime-literal,
  .monokaiSublime-number,
  .monokaiSublime-quote,
  .monokaiSublime-regexp {
    color: #ae81ff;
  }
  .monokaiSublime-code,
  .monokaiSublime-section,
  .monokaiSublime-selector-class,
  .monokaiSublime-title {
    color: #a6e22e;
  }
  .monokaiSublime-strong {
    font-weight: 700;
  }
  .monokaiSublime-emphasis {
    font-style: italic;
  }
  .monokaiSublime-attr,
  .monokaiSublime-keyword,
  .monokaiSublime-name,
  .monokaiSublime-selector-tag {
    color: #f92672;
  }
  .monokaiSublime-attribute,
  .monokaiSublime-symbol {
    color: #66d9ef;
  }
  .monokaiSublime-class .monokaiSublime-title,
  .monokaiSublime-params,
  .monokaiSublime-title.class_ {
    color: #f8f8f2;
  }
  .monokaiSublime-addition,
  .monokaiSublime-built_in,
  .monokaiSublime-selector-attr,
  .monokaiSublime-selector-id,
  .monokaiSublime-selector-pseudo,
  .monokaiSublime-string,
  .monokaiSublime-template-variable,
  .monokaiSublime-type,
  .monokaiSublime-variable {
    color: #e6db74;
  }
  .monokaiSublime-comment,
  .monokaiSublime-deletion,
  .monokaiSublime-meta {
    color: #75715e;
  }
}
