@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");

@mixin flex-($dir) {
  display: flex;
  flex-direction: $dir;
}

@mixin round-border {
  border-radius: 4px;
}

$main-side-margin: clamp(20px, 4vw, 100px);
$main-width: calc(100vw - (2 * $main-side-margin));
$speed: 350ms;
$main-bg: rgb(45, 60, 90);
$white-main: rgb(195, 195, 195);
$grey-dark: #242526;
$grey-main: #484a4d;
$grey-light: #525357;
$big-button-dim: clamp(60px, 10vw, 85px);

html {
  font-family: "Roboto", sans-serif;
  background-color: $main-bg;
}

body {
  margin: 0px;
}

main {
  @include flex-(column);
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin: 70px $main-side-margin;
  &.left {
    align-items: flex-start;
    justify-content: flex-start;
  }
  &.transparent {
    background-color: transparent;
  }
  header {
    &.banner-image {
      position: relative;
      width: $main-width;
      height: 400px;
    }
  }
  h2 {
    font-size: 30px;
  }
  section {
    &.header {
      min-height: fit-content;
    }
    &.post-body {
      p {
        padding: 0px;
        margin: 8px 0px;
        overflow-y: scroll;
      }
    }
  }
}

h1 {
  padding: 10px 0px !important;
  font-size: 40px;
  margin: 0;
}
h2 {
  padding: 8px 0px !important;
  font-size: 36px !important;
  margin: 0;
}
h3 {
  padding: 4px 0px !important;
  font-size: 26px !important;
  margin: 0;
}
h4 {
  padding: 3px 0px !important;
  font-size: 22px;
  margin: 0;
}
h5 {
  padding: 2px 0px !important;
  font-size: 19px;
  margin: 0;
}
h6 {
  font-size: 18px;
  height: 23px;
  padding: 0px !important;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
p {
  margin: 3px 0px;
  &.author {
    font-size: 16px;
    margin-right: 10px;
  }
  &.date {
    margin: 3px 0px;
    font-size: 15px;
  }
}

.card-content {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  p {
    &.body {
      margin: 5px 0px;
      font-size: 14px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      &.short {
        -webkit-line-clamp: 3;
      }
      &.long {
        -webkit-line-clamp: 8;
      }
    }
  }
}

.profile-nav {
  $nav-size: 60px;
  $border: 1px solid $grey-main;
  $padding: 6px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  .navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .nav-item {
    width: calc($nav-size * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-button {
    $button-size: calc($nav-size * 0.5);
    width: $button-size;
    height: $button-size;
    background-color: $grey-main;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
  }
  .dropdown {
    @include round-border;
    position: absolute;
    top: 45px;
    right: $padding;
    background-color: $grey-dark;
    border: $border;
    padding: 4px;
    overflow: hidden;
    transition: height $speed;
  }
  .menu {
    width: 250px;
    a {
      &.menu-item {
        @include flex-(row);
        @include round-border;
        height: 45px;
        align-items: center;
        transition: background $speed;
        padding: $padding;
        .right {
          margin-left: auto;
          background-color: transparent;
        }
        span {
          &.icon-button {
            margin-right: 10px;
          }
          &.back {
            padding-right: 2px;
            background-color: transparent;
          }
        }
        &:hover {
          background-color: $grey-light;
        }
      }
    }
  }
}

.markdown-viewer {
  @include round-border;
  position: relative;
  background-color: $white-main;
  overflow-y: scroll;
  transition: 500ms;
  width: 0px;
  padding-left: 0px;
  &.show {
    width: calc(50% - 6px);
    padding-left: 5px;
  }
}

.post-edit-button {
  @include flex-(column);
  justify-content: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: $big-button-dim;
  width: $big-button-dim;
  border-radius: 50%;
  background-color: $grey-dark;
  &:hover {
    background-color: $grey-light;
  }
}

.justify-start-last-end {
  @include flex-(row);
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  :last-child {
    justify-self: flex-end;
    margin-left: auto;
  }
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all $speed;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all $speed;
}

.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all $speed;
}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all $speed;
}
