@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");

@mixin orientate-contents-($dir) {
  align-items: $dir;
  justify-content: $dir;
}

@mixin flex-($dir) {
  display: flex;
  flex-direction: $dir;
}

@mixin round-border {
  border-radius: 4px;
}

@mixin no-scroll {
  &::-webkit-scrollbar {
    display: none;
  }
}

$main-side-margin: clamp(20px, 4vw, 100px);
$main-width: calc(100vw - (2 * $main-side-margin));
$speed: 350ms;
$main-bg: rgb(40, 40, 40);
$white-main: rgb(195, 195, 195);
$grey-dark: #242526;
$grey-main: #484a4d;
$grey-light: #525357;

$big-button-dim: 80px;
$medium-button-dim: 50px;

html {
  font-family: "Roboto", sans-serif;
  background-color: $main-bg;
}

body {
  margin: 0px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

main {
  @include flex-(column);
  @include orientate-contents-(center);
  font-family: "Roboto", sans-serif;
  margin: 70px $main-side-margin;
  &.left {
    @include orientate-contents-(flex-start);
  }
  &.transparent {
    background-color: transparent;
  }
  header {
    &.banner-image {
      position: relative;
      width: $main-width;
      height: 400px;
    }
  }
  h2 {
    font-size: 30px;
  }
  section {
    &.header {
      min-height: fit-content;
    }
    &.post-body {
      p {
        padding: 0px;
        margin: 8px 0px;
        overflow-y: scroll;
      }
    }
  }
}

h1 {
  padding: 10px 0px !important;
  font-size: 38px !important;
  margin: 0;
}
h2 {
  padding: 8px 0px !important;
  font-size: 32px !important;
  margin: 0;
}
h3 {
  padding: 4px 0px !important;
  font-size: 26px !important;
  margin: 0;
}
h4 {
  padding: 3px 0px !important;
  font-size: 22px !important;
  margin: 0;
}
h5 {
  padding: 2px 0px !important;
  font-size: 19px !important;
  margin: 0;
}
h6 {
  font-size: 18px;
  height: 23px;
  padding: 0px !important;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
p {
  margin: 3px 0px;
  &.author {
    font-size: 16px;
    margin-right: 10px;
  }
  &.date {
    margin: 3px 0px;
    font-size: 15px;
  }
}
textarea {
  @include no-scroll;
}

.card-content {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  p {
    &.body {
      margin: 5px 0px;
      font-size: 14px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      &.short {
        -webkit-line-clamp: 3;
      }
      &.long {
        -webkit-line-clamp: 8;
      }
    }
  }
}

.profile-nav {
  $nav-size: 60px;
  $border: 1px solid inherit;
  $padding: 6px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  .navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .nav-item {
    @include orientate-contents-(center);
    width: calc($nav-size * 0.8);
    display: flex;
  }
  .icon-button {
    @include orientate-contents-(center);
    $button-size: calc($nav-size * 0.5);
    width: $button-size;
    height: $button-size;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    transition: filter 300ms;
  }
  .dropdown {
    @include round-border;
    position: absolute;
    top: 45px;
    right: $padding;
    border: $border;
    padding: 4px;
    overflow: hidden;
    transition: height $speed;
  }
  .menu {
    width: 250px;
    a {
      @include flex-(row);
      @include round-border;
      height: 45px;
      align-items: center;
      transition: background $speed;
      padding: $padding;
      .right {
        margin-left: auto;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.12);
      }
    }
  }
}

.markdown-viewer {
  @include round-border;
  @include no-scroll;
  position: relative;
  background-color: transparent !important;
  border: 1px solid transparent;
  overflow-y: scroll;
  transition: 400ms;
  &.hide {
    border: none !important;
    padding: 0px !important;
    width: 0px;
  }
  &.show {
    border-color: inherit;
    padding-left: 5px;
    width: calc(50% - 6px);
  }
}

.post-edit-container {
  @mixin delete-button {
    @include flex-(column);
    @include orientate-contents-(center);
    height: $medium-button-dim;
    width: $medium-button-dim;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: $grey-dark;
    position: fixed;
    bottom: calc($medium-button-dim / 2);
    transition: $speed;
    z-index: 0;
  }
  @include flex-(column);
  @include orientate-contents-(center);
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition: $speed;
  .post-edit-button {
    @include flex-(column);
    @include orientate-contents-(center);
    height: $big-button-dim;
    width: $big-button-dim;
    border-radius: 50%;
    background-color: $grey-dark;
    z-index: 1;
  }
  .post-delete-button {
    @include delete-button;
    right: calc($medium-button-dim/2);
  }
  &:hover {
    .post-delete-button {
      @include delete-button;
      right: 80px;
    }
  }
}

.row {
  @include flex-(row);
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  width: 100%;
  &.end {
    justify-content: flex-end;
  }
  &.last-end {
    :last-child {
      justify-self: flex-end;
      margin-left: auto;
    }
  }
}

.transparent-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: $speed;
  opacity: 1;
  &.hide {
    opacity: 0;
    visibility: hidden;
  }
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all $speed;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all $speed;
}

.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all $speed;
}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all $speed;
}
